---
import {Image} from "astro:assets";
import Article from "../components/Article.astro";
import TwoColumn from "../components/TwoColumn.astro";
import Layout from "../layouts/Layout.astro";

import Graphics from "../components/Graphics.astro";
import GraphicsImporter from "../scripts/graphics-importer";
import type {DefaultImageMetadata} from "../scripts/types";

// Import static images.
import MISRig from "../assets/manipulators/mis-rig.avif";
import MPMRig from "../assets/manipulators/mpm-rig.avif";
import ScientificaManipulator from "../assets/manipulators/scientifica-manipulator.avif";
import SensapexRig from "../assets/manipulators/sensapex-rig.avif";
import Parallax from "../assets/future/parallax.avif"
import Durations from "../assets/future/durations.avif"

// Import graphics.
const introImporter = new GraphicsImporter(
    import.meta.glob<DefaultImageMetadata>("/src/assets/intro/*.avif"),
);
const equipmentImporter = new GraphicsImporter(
    import.meta.glob<DefaultImageMetadata>("/src/assets/equipment/*.avif"),
);
const insertionImporter = new GraphicsImporter(
    import.meta.glob<DefaultImageMetadata>("/src/assets/insertion/*.avif"),
);
const automationImporter = new GraphicsImporter(
    import.meta.glob<DefaultImageMetadata>("/src/assets/automation/*.avif"),
);
---

<Layout imageSrcs={[introImporter.getImageSrcs(), equipmentImporter.getImageSrcs(), insertionImporter.getImageSrcs(), automationImporter.getImageSrcs()]}>
    <!-- Pinpoint Intro Sequence. -->
    <TwoColumn>
        <Graphics imageMetadatas={introImporter.getImageMetadatas()} slot="graphics"/>

        <!-- Titles. -->
        <div class="flex justify-center items-center h-dvh">
            <div class="flex-col">
                <Article>
                    <h1 class="text-primary">Pinpoint</h1>
                    <h3>Interactive 3D visualization and automation tools for neuroscience research and
                        surgery.</h3>
                </Article>

                <br/>

                <div>
                    <a class="btn btn-primary" href="https://data.virtualbrainlab.org/Pinpoint/">Launch</a>
                    <a class="btn" href="#learn-more">Learn More</a>
                </div>
            </div>
        </div>

        <!-- Goal. -->
        <div class="h-dvh" id="learn-more">
            <div class="sticky top-1/3">
                <!--<span class="anchor" id="goal"></span>-->
                <Article>
                    <h1>Pinpoint aims to advance large-scale neuroscience research with intuitive browser-based
                        planning and
                        automation tools for efficient and reproducible neurosurgery.
                    </h1>
                </Article>
            </div>
        </div>

        <!-- Problem statement. -->
        <div class="h-1/3dvh"/>
        <div class="h-3/2dvh">
            <div class="sticky top-1/3">
                <Article>
                    <h2>Human behavior engage multiple regions of the brain.</h2>
                    <h3>Current tools are designed to study individual brain regions, depend on manual input, and
                        require extensive expertise to operate.</h3>
                    <p>Modern neuroscientists need tools that enable the study of the whole brain to better
                        understand
                        human behavior and cure neurodegenerative diseases that affect the whole brain like
                        Parkinson's
                        and Alzheimer's.</p>
                </Article>
            </div>
        </div>
        <div class="h-1/2dvh"/>
    </TwoColumn>

    <!-- Planning Phase. -->

    <div class="hero">
        <div class="hero-content">
            <Article>
                <h1 class="text-center">Plan Your Next Surgery with<br/><span class="text-primary">Pinpoint</span></h1>
            </Article>
        </div>
    </div>

    <!-- Simulate Equipment. -->
    <TwoColumn>
        <Graphics imageMetadatas={equipmentImporter.getImageMetadatas()} slot="graphics"/>

        <div class="h-1/3dvh"/>
        <div class="h-3/2dvh">
            <div class="sticky top-1/3">
                <Article>
                    <h2>Simulate your equipment</h2>
                    <h3>Pinpoint includes electrophysiology probes, viral injectors, 2-photon lasers, and pipettes.</h3>
                    <p>Custom equipment can be added as well.</p>
                </Article>
            </div>
        </div>
        <div class="h-1/2dvh"/>
    </TwoColumn>

    <!-- Make complex plans with ease. -->
    <TwoColumn>
        <Graphics imageMetadatas={insertionImporter.getImageMetadatas()} slot="graphics"/>

        <div class="h-1/3dvh"/>
        <div class="h-3/2dvh">
            <div class="sticky top-1/3">
                <Article>
                    <h2>See the brain in detail</h2>
                    <h3>Get exact surface coordinates, accessed brain regions, and planar slices.</h3>
                </Article>
            </div>
        </div>
        <div class="h-1/2dvh"/>
    </TwoColumn>

    <!-- Automation Phase -->

    <div class="hero">
        <div class="hero-content">
            <Article>
                <h1 class="text-center">Run Your Plan with<br/><span class="text-primary">Pinpoint Automation</span>
                </h1>
            </Article>
        </div>
    </div>

    <div class="h-1/4dvh"/>

    <div class="hero">
        <div class="hero-content flex-col lg:flex-row-reverse w-full">
            <div class="basis-1/2 self-stretch">
                <Image class="rounded-xl" src={SensapexRig} alt="Sensapex Rig"/>
                <Article>
                    <p>Sensapex Multiprobe rig</p>
                </Article>

                <br/>

                <Image class="rounded-xl" src={MPMRig} alt="MPM Rig"/>
                <Article>
                    <p>New Scale MPM rig</p>
                </Article>

                <br/>

                <Image class="rounded-xl" src={MISRig} alt="MIS Rig"/>
                <Article>
                    <p>New Scale MIS rig</p>
                </Article>

                <br/>

                <Image class="rounded-xl" src={ScientificaManipulator}
                       alt="Scientifica InVivoStar Micromanipulator"/>
                <Article>
                    <p>Scientifica InVivoStar Micromanipulator</p>
                </Article>
            </div>

            <div class="basis-1/2 self-stretch">
                <div class="sticky top-1/3">
                    <Article>
                        <h2>Let the robots do the heavy lifting</h2>
                        <h3>Pinpoint can control neurosurgery robotic manipulators to automatically run your plans.</h3>
                        <ul>
                            <li>Sensapex uMp-4</li>
                            <li>Sensapex uMp-3</li>
                            <li>New Scale MPM Rig</li>
                            <li>New Scale MIS Rig</li>
                            <li>Scientifica InVivoStar Micromanipulator/li>
                            <li>LabMaker</li>
                            <li>More can be added through <a href="https://ephys-link.virtualbrainlab.org/">Ephys
                                Link</a></li>
                        </ul>
                    </Article>
                </div>
            </div>
        </div>
    </div>

    <TwoColumn>
        <Graphics imageMetadatas={automationImporter.getImageMetadatas()} slot="graphics"/>

        <div class="h-1/4dvh"/>
        <div class="h-3/2dvh">
            <div class="sticky top-1/3">
                <Article>
                    <h2>Automation improves accuracy and efficiency</h2>
                    <h3>Robotic manipulators can make highly precise movements and perform multiple tasks in parallel.
                        These are important for enabling large-scale studies.</h3>
                </Article>
            </div>
        </div>
        <div class="h-1/4dvh"/>
    </TwoColumn>

    <div class="hero">
        <div class="hero-content flex-col lg:flex-row-reverse w-full">
            <div class="basis-1/2 self-stretch">
                <Image class="rounded-xl" src={Parallax} alt="Parallax tracking view"/>
                <Article>
                    <p>Parallax computer vision tracking system. Two electrophysiology probes are tracked and marked
                        with red crosses.</p>
                </Article>

                <br/>

                <Image class="rounded-xl" src={Durations} alt="Automation durations"/>
                <Article>
                    <p>Automation is measurably faster than traditional methods. The red dot is the median duration of
                        automated 2-probe electrophysiology insertion which is significantly lower than the median
                        duration for manual insertions.</p>
                </Article>
            </div>

            <div class="basis-1/2 self-stretch">
                <div class="sticky top-1/3">
                    <Article>
                        <h2>The future of neuroscience is automation</h2>
                        <h3>We are working with the Allen Institute to develop computer vision assisted systems to
                            enable completely unattended surgery automation.</h3>
                        <p>The reduction in human error and increase in efficiency will enable neuroscientists to scale
                            up
                            their work to new heights, unlocking studies and surgeries previously deemed impossible.</p>
                    </Article>
                </div>
            </div>
        </div>
    </div>
</Layout>

<style>
    .anchor {
        display: block;
        height: 45dvh;
        margin-top: -45dvh;
        visibility: hidden;
    }
</style>