---
import {Image} from "astro:assets";
import Article from "../components/Article.astro";
import HeroText from "../components/HeroText.astro";
import TextImagePair from "../components/TextImagePair.astro";
import TextVideoPair from "../components/TextVideoPair.astro";
import Layout from "../layouts/Layout.astro";

import Graphics from "../components/Graphics.astro";
import Spacer from "../components/Spacer.astro";
import GraphicsImporter from "../scripts/graphics-importer";
import type {DefaultImageMetadata} from "../scripts/types";

import Durations from "../assets/future/durations.avif";
import Parallax from "../assets/future/parallax.avif";
import UfhTitle from "../assets/future/ufh-title.avif";
import MISRig from "../assets/manipulators/mis-rig.avif";
import MPMRig from "../assets/manipulators/mpm-rig.avif";
import ScientificaManipulator from "../assets/manipulators/scientifica-manipulator.avif";
import SensapexRig from "../assets/manipulators/sensapex-rig.avif";
import MadeWithUnity from "../assets/outreach/made-with-unity.avif";
import TeachingPinpoint from "../assets/outreach/teaching-pinpoint.avif";
import UsingPinpoint from "../assets/outreach/using-pinpoint.avif";
import Dan from "../assets/people/dan.avif";
import Jasmine from "../assets/people/jasmine.avif";
import Kai from "../assets/people/kai.avif";
import Kenneth from "../assets/people/kenneth.avif";
import Qiqi from "../assets/people/qiqi.avif";
import Selina from "../assets/people/selina.avif";

import NeuropixelImage from "../assets/equipment/0000.avif";
import Nanoject from "../assets/equipment/0024.avif";
import Laser from "../assets/equipment/0046.avif";
import Pipette from "../assets/equipment/0068.avif";
import Insertion from "../assets/insertion/0084.avif";
import IntroSplash from "../assets/intro/0015.avif";
import IntroFull from "../assets/intro/0079.avif";
import AutomationInsertion from "../assets/automation/0042.avif"

// Import graphics.
const introImporter = new GraphicsImporter(
    import.meta.glob<DefaultImageMetadata>("/src/assets/intro/*.avif"),
);
const equipmentImporter = new GraphicsImporter(
    import.meta.glob<DefaultImageMetadata>("/src/assets/equipment/*.avif"),
);
const insertionImporter = new GraphicsImporter(
    import.meta.glob<DefaultImageMetadata>("/src/assets/insertion/*.avif"),
);
const automationImporter = new GraphicsImporter(
    import.meta.glob<DefaultImageMetadata>("/src/assets/automation/*.avif"),
);
---

<Layout imageSrcs={[introImporter.getImageSrcs(), equipmentImporter.getImageSrcs(), insertionImporter.getImageSrcs(), automationImporter.getImageSrcs()]}>
    <!-- Pinpoint Intro Sequence. -->
    <TextVideoPair>
        <Graphics imageMetadatas={introImporter.getImageMetadatas()} alt="Brain opening to reveal multiple regions"
                  slot="graphics"/>

        <!-- Intro image for small screens. -->
        <Image class="lg:hidden aspect-square max-h-1/2dvh object-contain" src={IntroSplash}
               alt="Human brain with electrophysiology probe"/>

        <!-- Titles. -->
        <div class="flex justify-center items-center lg:h-dvh">
            <div class="flex-col">
                <Article>
                    <h1 class="text-primary">Pinpoint</h1>
                    <h2>Interactive 3D visualization and automation tools for neuroscience research and
                        surgery.</h2>
                    <div class="flex gap-2">
                        <a class="hidden lg:inline-flex btn btn-primary"
                           href="https://data.virtualbrainlab.org/Pinpoint/">Launch</a>
                        <a class="btn" href="https://virtualbrainlab.org/pinpoint/installation_and_use.html"
                           target="_blank"
                           rel="noopener noreferrer">Read the Documentation</a>
                    </div>
                    <p>Scroll to learn more...</p>
                </Article>
            </div>
        </div>

        <!-- Spacer for small screens. -->
        <div class="lg:hidden">
            <Spacer/>
        </div>

        <!-- Goal. -->
        <div class="lg:h-dvh">
            <div class="sticky top-1/3">
                <Article>
                    <h1>Pinpoint aims to advance <span class="text-secondary">large-scale neuroscience</span> research
                        with intuitive browser-based
                        <span class="text-primary">planning</span> and <span class="text-primary">automation</span>
                        tools.
                    </h1>
                </Article>
            </div>
        </div>

        <!-- Spacer for small screens. -->
        <div class="lg:hidden">
            <Spacer/>
        </div>

        <!-- Full intro image. -->
        <Image class="lg:hidden aspect-square object-contain" src={IntroFull}
               alt="Human brain with 3 electrophysiology probes and multiple regions"/>

        <!-- Problem statement. -->
        <div class="hidden lg:block h-1/3dvh"/>

        <div class="lg:h-3/2dvh">
            <div class="sticky top-1/3">
                <Article>
                    <h2>Human behavior engage multiple regions of the brain.</h2>
                    <h3>Current tools are designed to study individual brain regions, depend on manual input, and
                        require extensive expertise to operate.</h3>
                    <p>Modern neuroscientists need tools that enable the study of the whole brain to better
                        understand
                        human behavior and cure neurodegenerative diseases that affect the whole brain.</p>
                </Article>
            </div>
        </div>
        <div class="hidden lg:block h-1/2dvh"/>
    </TextVideoPair>

    <!-- Planning Phase. -->

    <Spacer/>
    <HeroText>
        <h1 class="text-center">Plan Your Next Surgery with<br/><span class="text-primary">Pinpoint</span></h1>
    </HeroText>
    <Spacer/>

    <!-- Simulate Equipment. -->
    <TextVideoPair>
        <Graphics imageMetadatas={equipmentImporter.getImageMetadatas()} alt="Showcase of equipment pinpoint supports"
                  slot="graphics"/>

        <div class="hidden lg:block lg:h-1/3dvh"/>
        <div class="lg:h-3/2dvh">
            <div class="sticky top-1/3">
                <Article>
                    <h2>Simulate your equipment</h2>
                    <h3>Pinpoint includes electrophysiology probes, viral injectors, 2-photon lasers, and pipettes.</h3>
                    <p>Custom equipment and craniotomies can be modeled side-by-side, saving time during procedures.</p>
                </Article>
            </div>
        </div>
        <div class="hidden lg:block lg:h-1/2dvh"/>

        <!-- Equipment images for small screens. -->
        <div class="lg:hidden flex flex-wrap gap-8">
            <Image class="aspect-square object-contain" src={NeuropixelImage} alt="Neuropixels probe"/>
            <Image class="aspect-square object-contain" src={Nanoject} alt="Nanoject"/>
            <Image class="aspect-square object-contain" src={Laser} alt="2-photon laser"/>
            <Image class="aspect-square object-contain" src={Pipette} alt="Pipette"/>
        </div>
    </TextVideoPair>

    <!-- Brain in detail. -->
    <TextVideoPair>
        <Graphics imageMetadatas={insertionImporter.getImageMetadatas()}
                  alt="Electrophysiology probe inserted into brain" slot="graphics"/>

        <div class="hidden lg:block lg:h-1/3dvh"/>
        <div class="lg:h-3/2dvh">
            <div class="sticky top-1/3">
                <Article>
                    <h2>See the brain in detail</h2>
                    <p>Extract brain surface coordinates for surgical targeting, export brain region information, and
                        explore planar slices in each brain atlas.</p>
                </Article>
            </div>
        </div>
        <div class="hidden lg:block lg:h-1/2dvh"/>

        <div class="lg:hidden">
            <Spacer/>
            <Image class="lg:hidden aspect-square object-contain" src={Insertion}
                   alt="Electrophysiology probe inserted into brain."/>
        </div>
    </TextVideoPair>

    <!-- Automation Phase -->

    <Spacer/>
    <HeroText>
        <h1 class="text-center">Run Your Plan with<br/><span class="text-primary">Pinpoint Automation</span>
        </h1>
    </HeroText>
    <Spacer/>

    <TextVideoPair>
        <Graphics imageMetadatas={automationImporter.getImageMetadatas()}
                  alt="Automated insertion in pinpoint synced with real probe" slot="graphics"/>

        <div class="hidden lg:block">
            <Spacer/>
        </div>
        <div class="lg:h-3/2dvh">
            <div class="sticky top-1/3">
                <Article>
                    <h2>Automation improves accuracy and efficiency</h2>
                    <p>Robotic manipulators make movements with sub-micrometer precision and perform multiple tasks in
                        parallel, critical improvements for enabling whole-brain neural recording.</p>
                    <p>Here, a manipulator is controlled by Pinpoint to insert a probe through a craniotomy.</p>
                </Article>
            </div>
        </div>
        <Spacer/>

        <Image class="lg:hidden aspect-square object-contain" src={AutomationInsertion}
               alt="Ephys Link inserting a probe."/>
    </TextVideoPair>

    <Spacer/>

    <TextImagePair>
        <div slot="graphics">
            <Image class="rounded-xl" src={SensapexRig} alt="Sensapex Rig"/>
            <Article>
                <p>Sensapex Multiprobe rig</p>
            </Article>

            <br/>

            <Image class="rounded-xl" src={MPMRig} alt="MPM Rig"/>
            <Article>
                <p>New Scale MPM rig</p>
            </Article>

            <br/>

            <Image class="rounded-xl" src={MISRig} alt="MIS Rig"/>
            <Article>
                <p>New Scale MIS rig</p>
            </Article>

            <br/>

            <Image class="rounded-xl" src={ScientificaManipulator}
                   alt="Scientifica InVivoStar Micromanipulator"/>
            <Article>
                <p>Scientifica InVivoStar Micromanipulator</p>
            </Article>
        </div>

        <h2>Leave the heavy lifting to the robots</h2>
        <h3>Pinpoint can control robotic rigs to automatically perform your surgery.</h3>
        <p>Support for platforms can be added through the <a
                href="https://ephys-link.virtualbrainlab.org/">Ephys
            Link</a> project.</p>
    </TextImagePair>

    <Spacer/>

    <TextImagePair>
        <div slot="graphics">
            <Image class="rounded-xl" src={Parallax} alt="Parallax tracking view"/>
            <Article>
                <p>Parallax computer vision tracking system. Two electrophysiology probes are tracked and marked
                    with red crosses.</p>
            </Article>

            <br/>

            <Image class="rounded-xl" src={Durations} alt="Automation durations"/>
            <Article>
                <p>Automation is measurably faster than traditional methods. The median duration of automated
                    insertions (red dot) is significantly faster than the median
                    duration for manual insertions (black dot).</p>
            </Article>
        </div>

        <h2>The future is fully automated</h2>
        <h3>In collaboration with the Allen Institute we will develop computer vision assisted systems
            to
            enable unattended surgery.</h3>
        <p>The reduction in human error and increase in efficiency will enable neuroscientists to scale
            up
            their work to new heights, unlocking studies and surgeries previously deemed impossible.</p>
    </TextImagePair>

    <!-- Outreach -->

    <Spacer/>
    <HeroText>
        <h1 class="text-center">Grow the Community with<br/><span class="text-primary">Pinpoint</span>
        </h1>
    </HeroText>
    <Spacer/>

    <!-- Teaching. -->
    <TextImagePair>
        <div slot="graphics">
            <Image class="rounded-xl" src={TeachingPinpoint} alt="Teaching Pinpoint"/>
            <Article>
                <p>Dr. Birman teaching Pinpoint to researchers at the Allen Institute 2024 Neuropixels and OpenScope
                    Workshop.</p>
            </Article>

            <br/>

            <Image class="rounded-xl" src={UsingPinpoint} alt="Using Pinpoint"/>
            <Article>
                <p>A workshop attendee using Pinpoint through their laptop browser.</p>
            </Article>
        </div>

        <h2>Neuroscience is for everyone</h2>
        <h3>Pinpoint is free software available for everyone to use.</h3>
        <p>Run Pinpoint from a web browser, a desktop computer, or a handheld gaming console!</p>
        <p>Learn about Pinpoint and discover the platform at three workshops and conferences every
            year:</p>
        <ul>
            <li><a href="https://www.sfn.org/meetings/neuroscience-2025">Society for Neuroscience
                Conference</a></li>
            <li><a href="https://alleninstitute.org/events/2025-neuropixels-and-openscope-workshop/">Allen
                Institute Neuropixels and OpenScope Workshop</a></li>
            <li><a href="https://www.ucl.ac.uk/neuropixels/training/2024-neuropixels-course">UCL
                Neuropixels Course</a></li>
        </ul>
    </TextImagePair>

    <Spacer/>

    <!-- Undergrads. -->
    <TextImagePair>
        <div class="avatar-group -space-x-6 rtl:space-x-reverse" slot="graphics">
            <div class="avatar">
                <div class="w-auto">
                    <img src={Kenneth.src} alt="Kenneth"/>
                </div>
            </div>
            <div class="avatar">
                <div class="w-auto">
                    <img src={Jasmine.src} alt="Jasmine"/>
                </div>
            </div>
            <div class="avatar">
                <div class="w-auto">
                    <img src={Qiqi.src} alt="Qiqi"/>
                </div>
            </div>
            <div class="avatar">
                <div class="w-auto">
                    <img src={Selina.src} alt="Selina"/>
                </div>
            </div>
            <div class="avatar">
                <div class="w-auto">
                    <img src={Kai.src} alt="Kai"/>
                </div>
            </div>
        </div>

        <h2>Fostering the next generation</h2>
        <p>Developing Pinpoint has been an opportunity for a diverse group of undergraduates to discover
            a passion for research, neuroscience, and 3D development.</p>
        <ul>
            <li>Kenneth Yang (<a
                    href="https://www.washington.edu/undergradresearch/academic-year-programs/wrff/">WRF
                Fellow</a>, <a href="https://expd.uw.edu/mge/apply/research/">Mary Gates Scholar</a>)
            </li>
            <li>Jasmine Schoch (<a
                    href="https://www.simonsfoundation.org/grant/shenoy-undergraduate-research-fellowship-in-neuroscience-surfin/">SURFiN
                Fellow</a>)
            </li>
            <li>Qiqi Liang</li>
            <li>Selina Li</li>
            <li>Kai Nylund (<a href="https://expd.uw.edu/mge/apply/research/">Mary Gates Scholar</a>)
            </li>
        </ul>
    </TextImagePair>

    <Spacer/>

    <!-- Open Source. -->
    <TextImagePair>
        <div class="card lg:card-side bg-base-200" slot="graphics">
            <figure class="max-w-sm">
                <img src="https://repository-images.githubusercontent.com/439779355/697a35bd-3ae0-4fd1-b7c5-fb9471189739"
                     alt="Pinpoint GitHub Repository"/>
            </figure>
            <div class="card-body">
                <h2 class="card-title">GitHub - VirtualBrainLab/Pinpoint</h2>
                <p>Multi-probe trajectory planning in an intuitive 3D environment</p>
                <div class="card-actions justify-end">
                    <a href="https://github.com/VirtualBrainLab/Pinpoint" class="btn btn-primary">Visit the
                        Repository</a>
                </div>
            </div>
        </div>

        <h2>Built by everyone</h2>
        <h3>Pinpoint is open-source software meaning anyone can review our code, report problems, and
            submit changes.</h3>
        <p>The open nature of our code also ensures it will still be maintainable long after we achieve our
            main goals.</p>
    </TextImagePair>

    <Spacer/>

    <!-- Website. -->
    <TextImagePair>
        <div class="card lg:card-side bg-base-200" slot="graphics">
            <figure class="max-w-sm">
                <img src="https://virtualbrainlab.org/_images/vbl-header.png"
                     alt="Pinpoint GitHub Repository"/>
            </figure>
            <div class="card-body">
                <h2 class="card-title">VBL - Virtual Brain Lab</h2>
                <p>We develop 3D visualization tools for experimenting with, exploring, and simulating
                    brains.</p>
                <div class="card-actions justify-end">
                    <a href="https://virtualbrainlab.org/" class="btn btn-primary">Visit our Website</a>
                </div>
            </div>
        </div>

        <h2>Learn more about our projects</h2>
        <p>See what else we've made and get in contact with us!</p>
    </TextImagePair>

    <Spacer/>

    <!-- What's next. -->
    <TextImagePair>
        <div class="card lg:card-side bg-base-200" slot="graphics">
            <figure class="max-w-sm">
                <Image src={UfhTitle} alt="Unity for Humanity Pitch Deck Title Slide"/>
            </figure>
            <div class="card-body">
                <h2 class="card-title">Pinpoint Unity for Humanity 2025 Pitch Deck</h2>
                <p>See what we are proposing to work on next.</p>
                <div class="card-actions justify-end">
                    <a href="/ufh-2025.pdf" class="btn btn-primary">Read the Proposal</a>
                </div>
            </div>
        </div>

        <h2>What's next for Pinpoint</h2>
        <p>See our roadmap and goals for Pinpoint.</p>
    </TextImagePair>

    <Spacer/>

    <!-- Contact. -->
    <div class="hero">
        <div class="hero-content flex-col justify-center text-center p-0">
            <Article>
                <Image class="object-contain" src={MadeWithUnity} alt="Made with Unity"/>
                <h2>Core Team:</h2>
            </Article>

            <br/>

            <div class="flex flex-wrap flex-shrink gap-8 justify-center">
                <a href="mailto:daniel.birman@alleninsitute.org">
                    <div class="avatar">
                        <div class="w-48 rounded-full">
                            <img src={Dan.src} alt="Dr. Daniel Birman"/>
                        </div>
                    </div>
                    <Article>
                        <p><strong>Daniel Birman, PhD</strong><br/>Software Engineer<br/>Allen Institute for Neural
                            Dynamics</p>
                    </Article>
                </a>
                <a href="mailto:kjy5@uw.edu">
                    <div class="avatar">
                        <div class="w-48 rounded-full">
                            <img src={Kenneth.src} alt="Kenneth J. Yang"/>
                        </div>
                    </div>
                    <Article>
                        <p><strong>Kenneth J. Yang</strong><br/>University of Washington<br/>Computer Science ('25)</p>
                    </Article>
                </a>
            </div>
        </div>
    </div>

    <Spacer/>
</Layout>

<style>
    img {
        font-size: 0;
    }
</style>