---
import { Image } from "astro:assets";
import Article from "../components/Article.astro";
import TwoColumn from "../components/TwoColumn.astro";
import Layout from "../layouts/Layout.astro";

import Graphics from "../components/Graphics.astro";
import GraphicsImporter from "../scripts/graphics-importer";
import type { DefaultImageMetadata } from "../scripts/types";

import Durations from "../assets/future/durations.avif";
import Parallax from "../assets/future/parallax.avif";

// Import static images.
import MISRig from "../assets/manipulators/mis-rig.avif";
import MPMRig from "../assets/manipulators/mpm-rig.avif";
import ScientificaManipulator from "../assets/manipulators/scientifica-manipulator.avif";
import SensapexRig from "../assets/manipulators/sensapex-rig.avif";
import TeachingPinpoint from "../assets/outreach/teaching-pinpoint.avif";
import UsingPinpoint from "../assets/outreach/using-pinpoint.avif";
import Dan from "../assets/people/dan.avif";
import Jasmine from "../assets/people/jasmine.avif";
import Kai from "../assets/people/kai.avif";
import Kenneth from "../assets/people/kenneth.avif";
import Qiqi from "../assets/people/qiqi.avif";
import Selina from "../assets/people/selina.avif";

// Import graphics.
const introImporter = new GraphicsImporter(
	import.meta.glob<DefaultImageMetadata>("/src/assets/intro/*.avif"),
);
const equipmentImporter = new GraphicsImporter(
	import.meta.glob<DefaultImageMetadata>("/src/assets/equipment/*.avif"),
);
const insertionImporter = new GraphicsImporter(
	import.meta.glob<DefaultImageMetadata>("/src/assets/insertion/*.avif"),
);
const automationImporter = new GraphicsImporter(
	import.meta.glob<DefaultImageMetadata>("/src/assets/automation/*.avif"),
);
---

<Layout imageSrcs={[introImporter.getImageSrcs(), equipmentImporter.getImageSrcs(), insertionImporter.getImageSrcs(), automationImporter.getImageSrcs()]}>
    <!-- Pinpoint Intro Sequence. -->
    <TwoColumn>
        <Graphics imageMetadatas={introImporter.getImageMetadatas()} alt="Brain opening to reveal multiple regions"
                  slot="graphics"/>

        <!-- Titles. -->
        <div class="flex justify-center items-center h-dvh">
            <div class="flex-col">
                <Article>
                    <h1 class="text-primary">Pinpoint</h1>
                    <h3>Interactive 3D visualization and automation tools for neuroscience research and
                        surgery.</h3>
                </Article>

                <br/>

                <div>
                    <a class="btn btn-primary" href="https://data.virtualbrainlab.org/Pinpoint/">Launch</a>
                    <a class="btn" href="#learn-more">Learn More</a>
                </div>
            </div>
        </div>

        <!-- Goal. -->
        <div class="h-dvh" id="learn-more">
            <div class="sticky top-1/3">
                <!--<span class="anchor" id="goal"></span>-->
                <Article>
                    <h1>Pinpoint aims to advance large-scale neuroscience research with intuitive browser-based
                        planning and automation tools.
                    </h1>
                </Article>
            </div>
        </div>

        <!-- Problem statement. -->
        <div class="h-1/3dvh"/>
        <div class="h-3/2dvh">
            <div class="sticky top-1/3">
                <Article>
                    <h2>Human behavior engage multiple regions of the brain.</h2>
                    <h3>Current tools are designed to study individual brain regions, depend on manual input, and
                        require extensive expertise to operate.</h3>
                    <p>Modern neuroscientists need tools that enable the study of the whole brain to better
                        understand
                        human behavior and cure neurodegenerative diseases that affect the whole brain.</p>
                </Article>
            </div>
        </div>
        <div class="h-1/2dvh"/>
    </TwoColumn>

    <!-- Planning Phase. -->

    <div class="hero">
        <div class="hero-content">
            <Article>
                <h1 class="text-center">Plan Your Next Surgery with<br/><span class="text-primary">Pinpoint</span></h1>
            </Article>
        </div>
    </div>

    <!-- Simulate Equipment. -->
    <TwoColumn>
        <Graphics imageMetadatas={equipmentImporter.getImageMetadatas()} alt="Showcase of equipment pinpoint supports"
                  slot="graphics"/>

        <div class="h-1/3dvh"/>
        <div class="h-3/2dvh">
            <div class="sticky top-1/3">
                <Article>
                    <h2>Simulate your equipment</h2>
                    <h3>Pinpoint includes electrophysiology probes, viral injectors, 2-photon lasers, and pipettes.</h3>
                    <p>Custom equipment and craniotomies can be modeled side-by-side, saving time during procedures.</p>
                </Article>
            </div>
        </div>
        <div class="h-1/2dvh"/>
    </TwoColumn>

    <!-- Make complex plans with ease. -->
    <TwoColumn>
        <Graphics imageMetadatas={insertionImporter.getImageMetadatas()}
                  alt="Electrophysiology probe inserted into brain" slot="graphics"/>

        <div class="h-1/3dvh"/>
        <div class="h-3/2dvh">
            <div class="sticky top-1/3">
                <Article>
                    <h2>See the brain in detail</h2>
                    <p>Extract brain surface coordinates for surgical targeting, export brain region information, and explore planar slices in each brain atlas.</p>
                </Article>
            </div>
        </div>
        <div class="h-1/2dvh"/>
    </TwoColumn>

    <!-- Automation Phase -->

    <div class="hero">
        <div class="hero-content">
            <Article>
                <h1 class="text-center">Run Your Plan with<br/><span class="text-primary">Pinpoint Automation</span>
                </h1>
            </Article>
        </div>
    </div>

    <div class="h-1/4dvh"/>

    <div class="hero">
        <div class="hero-content flex-col lg:flex-row-reverse w-full">
            <div class="basis-1/2 self-stretch">
                <Image class="rounded-xl" src={SensapexRig} alt="Sensapex Rig"/>
                <Article>
                    <p>Sensapex Multiprobe rig</p>
                </Article>

                <br/>

                <Image class="rounded-xl" src={MPMRig} alt="MPM Rig"/>
                <Article>
                    <p>New Scale MPM rig</p>
                </Article>

                <br/>

                <Image class="rounded-xl" src={MISRig} alt="MIS Rig"/>
                <Article>
                    <p>New Scale MIS rig</p>
                </Article>

                <br/>

                <Image class="rounded-xl" src={ScientificaManipulator}
                       alt="Scientifica InVivoStar Micromanipulator"/>
                <Article>
                    <p>Scientifica InVivoStar Micromanipulator</p>
                </Article>
            </div>

            <div class="basis-1/2 self-stretch">
                <div class="sticky top-1/3">
                    <Article>
                        <h2>Let the robots do the heavy lifting</h2>
                        <h3>Pinpoint controls robotic manipulators to automatically perform your surgery.</h3>
                        <ul>
                            <li>Sensapex uMp-4</li>
                            <li>Sensapex uMp-3</li>
                            <li>New Scale MPM Rig</li>
                            <li>New Scale MIS Rig</li>
                            <li>Scientifica InVivoStar Micromanipulator/li>
                            <li>LabMaker</li>
                            <li>More can be added through <a href="https://ephys-link.virtualbrainlab.org/">Ephys
                                Link</a></li>
                        </ul>
                    </Article>
                </div>
            </div>
        </div>
    </div>

    <TwoColumn>
        <Graphics imageMetadatas={automationImporter.getImageMetadatas()}
                  alt="Automated insertion in pinpoint synced with real probe" slot="graphics"/>

        <div class="h-1/4dvh"/>
        <div class="h-3/2dvh">
            <div class="sticky top-1/3">
                <Article>
                    <h2>Automation improves accuracy and efficiency</h2>
                    <p>Robotic manipulators make movements with sub-micrometer precision and perform multiple tasks in parallel, critical improvements for enabling whole-brain neural recording.</p>
                </Article>
            </div>
        </div>
        <div class="h-1/4dvh"/>
    </TwoColumn>

    <div class="hero">
        <div class="hero-content flex-col lg:flex-row-reverse w-full">
            <div class="basis-1/2 self-stretch">
                <Image class="rounded-xl" src={Parallax} alt="Parallax tracking view"/>
                <Article>
                    <p>Parallax computer vision tracking system. Two electrophysiology probes are tracked and marked
                        with red crosses.</p>
                </Article>

                <br/>

                <Image class="rounded-xl" src={Durations} alt="Automation durations"/>
                <Article>
                    <p>Automation is measurably faster than traditional methods. The median duration of automated insertions (red dot) is significantly faster than the median
                        duration for manual insertions (black dot).</p>
                </Article>
            </div>

            <div class="basis-1/2 self-stretch">
                <div class="sticky top-1/3">
                    <Article>
                        <h2>The future is fully automated</h2>
                        <h3>In collaboration with the Allen Institute we will develop computer vision assisted systems to
                            enable unattended surgery.</h3>
                        <p>The reduction in human error and increase in efficiency will enable neuroscientists to scale
                            up
                            their work to new heights, unlocking studies and surgeries previously deemed impossible.</p>
                    </Article>
                </div>
            </div>
        </div>
    </div>

    <!-- Outreach -->

    <div class="hero">
        <div class="hero-content">
            <div class="h-1/4dvh"/>
            <Article>
                <h1 class="text-center">Grow the Community with<br/><span class="text-primary">Pinpoint</span>
                </h1>
            </Article>
            <div class="h-1/4dvh"/>
        </div>
    </div>

    <!-- Teaching. -->
    <div class="hero">
        <div class="hero-content flex-col lg:flex-row-reverse w-full">
            <div class="basis-1/2 self-stretch">
                <Image class="rounded-xl" src={TeachingPinpoint} alt="Teaching Pinpoint"/>
                <Article>
                    <p>Dr. Birman teaching Pinpoint to researchers at the Allen Institute 2024 Neuropixels and OpenScope
                        Workshop.</p>
                </Article>

                <br/>

                <Image class="rounded-xl" src={UsingPinpoint} alt="Using Pinpoint"/>
                <Article>
                    <p>A workshop attendee using Pinpoint through their laptop browser.</p>
                </Article>
            </div>

            <div class="basis-1/2 self-stretch">
                <div class="sticky top-1/3">
                    <Article>
                        <h2>Neuroscience is for everyone</h2>
                        <h3>Pinpoint is free software available for everyone to use.</h3>
                        <p>Run Pinpoint from a web browser, a desktop computer, or a handheld gaming console!</p>
                        <p>Learn about Pinpoint and discover the platform at three workshops and conferences every year:</p>
                        <ul>
                            <li><a href="https://www.sfn.org/meetings/neuroscience-2025">Society for Neuroscience
                                Conference</a></li>
                            <li><a href="https://alleninstitute.org/events/2025-neuropixels-and-openscope-workshop/">Allen
                                Institute Neuropixels and OpenScope Workshop</a></li>
                            <li><a href="https://www.ucl.ac.uk/neuropixels/training/2024-neuropixels-course">UCL
                                Neuropixels Course</a></li>
                        </ul>
                    </Article>
                </div>
            </div>
        </div>
    </div>

    <div class="h-1/4dvh"/>

    <!-- Undergrads. -->
    <div class="hero">
        <div class="hero-content flex-col lg:flex-row-reverse w-full">
            <div class="basis-1/2 self-stretch">
                <div class="avatar-group -space-x-6 rtl:space-x-reverse">
                    <div class="avatar">
                        <div class="w-auto">
                            <img src={Kenneth.src} alt="Kenneth"/>
                        </div>
                    </div>
                    <div class="avatar">
                        <div class="w-auto">
                            <img src={Jasmine.src} alt="Jasmine"/>
                        </div>
                    </div>
                    <div class="avatar">
                        <div class="w-auto">
                            <img src={Qiqi.src} alt="Qiqi"/>
                        </div>
                    </div>
                    <div class="avatar">
                        <div class="w-auto">
                            <img src={Selina.src} alt="Selina"/>
                        </div>
                    </div>
                    <div class="avatar">
                        <div class="w-auto">
                            <img src={Kai.src} alt="Kai"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="basis-1/2 self-stretch">
                <div class="sticky top-1/3">
                    <Article>
                        <h2>Fostering the next generation</h2>
                        <p>Developing Pinpoint has been an opportunity for a diverse group of undergraduates to discover a passion for research, neuroscience, and 3D development.</p>
                        <ul>
                            <li>Kenneth Yang (WRF Fellow, Mary Gates Scholar)</li>
                            <li>Jasmine Schoch (SURFiN Fellow)</li>
                            <li>Qiqi Liang</li>
                            <li>Selina Li</li>
                            <li>Kai Nylund (Mary Gates Scholar)</li>
                        </ul>
                    </Article>
                </div>
            </div>
        </div>
    </div>

    <div class="h-1/4dvh"/>

    <!-- Open Source. -->
    <div class="hero">
        <div class="hero-content flex-col lg:flex-row-reverse w-full">
            <div class="basis-1/2 self-stretch">
                <div class="card lg:card-side bg-base-200">
                    <figure>
                        <img src="https://repository-images.githubusercontent.com/439779355/697a35bd-3ae0-4fd1-b7c5-fb9471189739"
                             alt="Pinpoint GitHub Repository"/>
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">GitHub - VirtualBrainLab/Pinpoint</h2>
                        <p>Multi-probe trajectory planning in an intuitive 3D environment</p>
                        <div class="card-actions justify-end">
                            <a href="https://github.com/VirtualBrainLab/Pinpoint" class="btn btn-primary">Visit the
                                Repository</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="basis-1/2 self-stretch">
                <Article>
                    <h2>Built by everyone</h2>
                    <h3>Pinpoint is open-source software meaning anyone can review our code, report problems, and
                        submit changes.</h3>
                    <p>The open nature of our code also ensures it will still be maintainable long after we achieve our main goals.</p>
                </Article>
            </div>
        </div>
    </div>

    <div class="h-1/4dvh"/>

    <div class="hero">
        <div class="hero-content flex-col lg:flex-row-reverse w-full">
            <div class="basis-1/2 self-stretch">
                <div class="card lg:card-side bg-base-200">
                    <figure>
                        <img src="https://virtualbrainlab.org/_images/vbl-header.png"
                             alt="Pinpoint GitHub Repository"/>
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">VBL — Virtual Brain Lab</h2>
                        <p>We develop 3D visualization tools for experimenting with, exploring, and simulating
                            brains.</p>
                        <div class="card-actions justify-end">
                            <a href="https://virtualbrainlab.org/" class="btn btn-primary">Visit our Website</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="basis-1/2 self-stretch">
                <Article>
                    <h2>Learn more about our projects</h2>
                    <p>See what else we've made and get in contact with us!</p>
                </Article>
            </div>
        </div>
    </div>

    <div class="h-1/4dvh"/>

    <div class="hero">
        <div class="hero-content text-center">
            <div>
                <Article>
                    <h1>Made with Unity</h1>
                    <h2>Actively Maintained by:</h2>
                </Article>

                <br/>

                <div class="flex space-x-8">
                    <a href="mailto:kjy5@uw.edu">
                        <div class="avatar">
                            <div class="w-48 rounded-full">
                                <img src={Kenneth.src} alt="Kenneth J. Yang"/>
                            </div>
                        </div>
                        <Article>
                            <p><strong>Kenneth J. Yang</strong><br/>University of Washington</p>
                        </Article>
                    </a>
                    <a href="mailto:daniel.birman@alleninsitute.org">
                        <div class="avatar">
                            <div class="w-48 rounded-full">
                                <img src={Dan.src} alt="Dr. Daniel Birman"/>
                            </div>
                        </div>
                        <Article>
                            <p><strong>Daniel Birman, PhD</strong><br/>Allen Institute</p>
                        </Article>
                    </a>
                </div>
            </div>
        </div>
    </div>
</Layout>

<style>
    .anchor {
        display: block;
        height: 45dvh;
        margin-top: -45dvh;
        visibility: hidden;
    }

    img {
        font-size: 0;
    }
</style>